body {
    font-family: 'Athiti', sans-serif;
}

.anta-font {
    font-family: 'Anta', sans-serif;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ECE8FF;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B7BAE4;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-thumb {
    background: #020513;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #555;
}